@{
    Layout = "";
}
@using EARGE.Web.Framework;

<div class="media">
	<span class="pull-left">
		<img class="media-object img-responsive" src="@Url.Content("~/Plugins/EARGE.iyzico/Content/images/logo200x53.png")" alt="iyzico" />
	</span>
	<div class="media-body">
		@T("Plugins.Payments.iyzicoStandard.Fields.RedirectionTip")
	</div>
</div>
